.playground {

  &__descr {

    @media (max-width: 360px){
      span {
        display: none;
      }
    }
  }

  &__routine {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
    grid-auto-rows: 287px;
    gap: 30px;

    @media (max-width: 992px){
      gap: 25px;
    }

    @media (max-width: 768px){
      grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
      gap: 20px;
    }

    @media (max-width: 360px){
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      grid-auto-rows: 152px;
    }
  }
}


.card-playground {
  position: relative;
  display: block;

  &__img {
    position: relative;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after{
      content:'';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(133.55% 429.94% at 0% -4.93%, rgba(255, 255, 255, 0) 34.53%, #FFFFFF 80.89%);
    }
  }

  &__info {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 5;
    width: 100%;
  }
}

.info-card {
  display: flex;
  align-items:center;
  justify-content:space-between;
  gap: 10px;
  padding: 23px 40px;
  background-color: $greenColor;

  @media (max-width: 768px){
    padding: 17px 25px;
  }

  @media (max-width: 480px) {
    padding: 10px 20px;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: $lightColor;
    border-radius: 50%;

    @media (max-width: 360px){
      width: 23px;
      height: 23px;
    }

    svg {
      width: 100%;

      @media (max-width: 360px){
        width: 12px;
        height: 12px;
      }
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: end;
    color: $lightColor;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;

    @media (max-width: 360px){
      font-size: 18px;
    }
  }

  &__descr {
    @media (max-width: 360px){
      font-size: 12px;
    }
  }
}
