.routine {

  &__collection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
    grid-auto-rows: 384px;
    gap: 30px;

    @media (max-width: 992px){
      gap: 20px;
    }

    @media (max-width: 992px){
      grid-template-columns: repeat(2, minmax(132px, 1fr));
    }

    @media (max-width: 768px){
      grid-template-columns: repeat(2, minmax(132px, 1fr));
      @include adaptiveValue("grid-auto-rows", 355, 142, 768, 320);
    }
  }
}

