$lightColor: #fff;
$darkColor: #090808;
$blackColor: #000;

$mainColor: #828282;
$greenColor:#3ea43b;
$orangeColor: #ffcc2d;
$blueColor: #4d7fca;
$pincColor: linear-gradient(180deg, #FF6262 0%, #E82D2D 100%);



