.playground__title,
.routine__header {
  margin-bottom: 30px;

  @media (max-width: 1640px) {
    margin-bottom: 25px;
  }

  @media (max-width: 768px) {
    margin-bottom: 15px;
  }

  @media (max-width: 360px) {
    margin-bottom: 15px;
  }
}

.playground__descr,
.routine__descr {
  margin-bottom: 35px;
}

.playground__button,
.routine__button {
  margin-bottom: 81px;

  @media (max-width: 1240px){
    margin-bottom: 65px;
  }

  @media (max-width: 768px){
    max-width: 355px;
    margin-bottom: 57px;
  }

  @media (max-width: 360px){
    margin-bottom: 32px;
  }
}



.main-title {
  font-weight: 600;
  font-size: 48px;
  line-height: math.div(66 , 48);
  text-transform: uppercase;
  color: $darkColor;

  @media (max-width: 1240px){
    font-size: 46px;
  }

  @media (max-width: 992px){
    font-size: 41px;
  }

  @media (max-width: 768px){
    font-size: 36px;
  }

  @media (max-width: 650px){
    font-size: 32px;
  }

  @media (max-width: 480px){
    font-size: 28px;
  }

  @media (max-width: 360px){
    font-size: 20px;
  }

  &--mobi-big {
    @media (max-width: 360px){
      font-size: 26px;
    }
  }
}

.main-subtitle {
  color: $darkColor;
}

.main-descr {
  max-width: 1091px;
  line-height: math.div(23 , 18);
  @media (max-width: 768px){
    max-width: 655px;
  }
  @media (max-width: 360px){
    font-size: 15px;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;

  @media (max-width: 768px){
    font-size: 16px;
  }
}

.btn--black {
  font-weight: 800;
  color: $lightColor;
  background-color: $darkColor;
}

.btn--orange {
  color: $darkColor;
  background-color: $orangeColor;
  max-width: 370px;
  min-width: 280px;
  height: 64px;

  @media (max-width: 360px){
    height: 48px;
  }
}

.btn--back {
  min-width: 91px;
  min-height: 32px;
  background-color: $orangeColor;
  color: $darkColor;
  font-size: 14px;
  text-transform: capitalize;

  svg {
    width: 22px;
    height: 14px;
  }
  span {
    margin-left: 5px;
  }
}
